h2 {
  color: balck;
  border: 2px solid #e84393; 
}

html {
  background: url(https://gstatic.gvn360.com/2021/08/Gawr-Gura_-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
  font-size: 20px;
}

