h1 {
  font-size: 15px;
  font-weight: 600; /* or font-style: semi-bold/bold;*/
  font-family: 'Arial';
}

h2 {
  color: black;
  border: 2px solid #00cec9; 
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
}

html {
  background: url(https://gstatic.gvn360.com/2021/08/Gawr-Gura_-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
  font-size: 20px;
  
}

